*{
    font-size: 16px;
    line-height: 1.6;
    }
body{
    font-family: 'Poppins', sans-serif;
}






.main_background_color{
    background-color:#191627;
}
.text__color{
  color:#6E57E0;
}
.fill_color{
  fill: #6E57E0;
}
.nav-item:active{
    color:#6E57E0;
}
.nav-link:active{
    color:#6E57E0;
}
.nav-link:hover{
    color:#6E57E0;
}
.hover__qualification:hover{
  color: #6E57E0;
}
#brand:hover{
    color:#6E57E0;
}
.mooon:hover{
    color:#6E57E0;
}
.mooon_button:hover .bi-moon {
    fill: #6E57E0;
  }
.mooon_button:hover .bi-brightness-high{
    fill: #6E57E0;
  }

.icons_decoration{
    text-decoration: none;
  }
.pop {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
}
.dotted-hr {
    border: none;
    border-top: 2px dotted #000; /* Change color to your preference */
    border-width: 0 0 0 20px; /* 5 dots with 4px each (20px total) */
    width: 100%; /* Adjust the width as needed */
    margin: 10px 0; /* Adjust the margin as needed */
  }


  /* CSS */
  .button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  @media (min-width: 768px) {
    .button-36 {
      padding: 0 2.6rem;
    }
  }

.none__education{
  display: none;
}

/* carousel   */
.border__none{
  border: none;
  outline: none;
}
.form__color{
  background-color:#F0EEFC;
}
.form__border{
  border-radius: 0.5rem;
}
.dark__form{
  background-color: #211D35;
}
footer{
  color: white;
}
.is__active{
  color: #6E57E0;
}

.light__footer{
  background-color: #6E57E0;
}
.dark__footer{
  background-color: #100E1B;
}